<h1>Weapons#show</h1>
<p>Find me in app/views/weapons/show.html.erb</p>

<div >
  <h1 > <%= @weapon.name %>   </h1>
  <br/>
  <p >

  <%= @weapon.power_base %> |
  <%= @weapon.power_step %>  
  </p>
<br/>
  <hr >  

  <%= link_to 'Delete', @weapon, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>

  <%= link_to 'Back', weapons_path, class:"btn btn-dark" %>
</div>


